.active {
  border-bottom: 2px solid black;
}

.tab {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.tab:hover {
  opacity: 0.8;
}

.tabContainer {
  margin: 12px 0;
}

.homeLink {
  color: black;
  font-weight: 600;
}
